@import url('https://fonts.googleapis.com/css?family=Cutive+Mono:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.column {
  float: center;
  width: 100%;
}

body {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: rgb(255, 255, 255);
  font-size: 100%;
  background-color: White;
}

p {
  color: black;
  font-family: 'Cutive Mono', monospace;
  font-size:1.0em;
  text-align: center;
}

#container {
    color: red;
    font-family: 'Cutive Mono', monospace;
    font-size:1.0em;
    text-align: center;
}
